<div class="row" style="padding-bottom: 5px;">
  <div class="col-sm-8">
    <h2>{{pageTitle}}</h2>
  </div>
  <div class="col-sm-4">

  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <div class="panel-group">
      <div class="panel panel-default">
        <app-recipe-fermentables-list></app-recipe-fermentables-list>
      </div>
      <div class="panel panel-default">
        <app-recipe-hops-list></app-recipe-hops-list>
      </div>
      <div class="panel panel-default">
        <app-recipe-yeast-list></app-recipe-yeast-list>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel-group">
      <div class="panel panel-default">
        <app-recipe-info></app-recipe-info>
      </div>
      <div class="panel panel-default">
        <app-recipe-stats></app-recipe-stats>
      </div>
    </div>
  </div>
</div>