<div class="panel-heading">
    <h4>Recipe Facts</h4>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-xs-5">OG</div>
        <div class="col-xs-6" data-bind="numericText: originalGravity, precision: 3"></div>
    </div>
    <div class="row">
        <div class="col-xs-5">FG</div>
        <div class="col-xs-6" data-bind="numericText: finalGravity, precision: 3"></div>
    </div>
    <div class="row">
        <div class="col-xs-5">Color</div>
        <div class="col-xs-1" data-bind="numericText: srm, precision: 1"></div>
        <div class="col-xs-2">SRM</div>
    </div>
    <div class="row">
        <div class="col-xs-5">Bitterness</div>
        <div class="col-xs-6">0 IBU</div>
    </div>
    <div class="row">
        <div class="col-xs-5">Alchohol (ABV)</div>
        <div class="col-xs-1" data-bind="numericText: abv, precision: 1"></div>
        <div class="col-xs-2">%</div>
    </div>
</div>