<div class="panel-heading">
    <h4>Recipe Info</h4>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-xs-5">Batch Size</div>
        <div class="col-xs-3"><input type="text" class="form-control" value="{{recipe.BatchSize}}" /></div>
        <div class="col-xs-4">Gallons</div>
    </div>
    <div class="row">
        <div class="col-xs-5">Boil Size</div>
        <div class="col-xs-3"><input type="text" class="form-control" value="{{recipe.BoilSizeGal}}" /></div>
        <div class="col-xs-4">Gallons</div>
    </div>
    <div class="row">
        <div class="col-xs-5">Boil Time</div>
        <div class="col-xs-3"><input type="text" class="form-control" value="{{recipe.BoilTimeMin}}" /></div>
        <div class="col-xs-4">Hours</div>
    </div>
    <div class="row">
        <div class="col-xs-5">Mash Efficiency</div>
        <div class="col-xs-3"><input type="text" class="form-control" value="{{recipe.MashEfficiency}}" /></div>
        <div class="col-xs-4">%</div>
    </div>
</div>