<div class="panel-heading">
    <h3>Fermentables
        <input *ngIf="isEditable" type="button" class="btn btn-default pull-right" value="Add Fermentable" data-toggle="modal" data-target="#fermentablesModal"/>
    </h3>
</div>
<div class="panel-body">
    <table class="table">
        <thead>
            <tr>
                <th>lbs</th>
                <th>fermentable</th>
                <th>ppg</th>
                <th>L</th>
                <th>usage</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let fermentable of fermentables">
            <tr *ngIf="isEditable">
                <td class="col-xs-2"><input type="text" class="form-control" [value]="fermentable.Lbs" /></td>
                <td class="col-xs-5">{{fermentable.Title}}</td>
                <td class="col-xs-1"><input type="text" class="form-control" [value]="fermentable.GrainPotential" /></td>
                <td class="col-xs-1"><input type="text" class="form-control" [value]="fermentable.Lovibond" /></td>
                <td class="col-xs-2">
                    <select class="form-control">
                        <option value="Mash">Mash</option>
                        <option value="Extract">Extract</option>
                    </select>
                </td>
                <td class="col-xs-1"><input type="button" class="btn btn-default pull-right" value="X" data-bind="click: $parent.removeFermentable" /></td>
            </tr>
            <tr  *ngIf="!isEditable">
                <td class="col-xs-2" >{{fermentable.Lbs}}</td>
                <td class="col-xs-5" >{{fermentable.Title}}</td>
                <td class="col-xs-1" >{{fermentable.GrainPotential}}</td>
                <td class="col-xs-1" >{{fermentable.Lbs}}</td>
                <td class="col-xs-2" >{{fermentable.Usage}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-xs-12">
            <span data-bind="numericText: totalLbsGrain"></span> lbs of grain
        </div>
    </div>
</div>