<div class="panel-heading">
    <h3>
        Hops
        <!-- ko if: $parent.isEditable == true -->
        <input *ngIf="isEditable" type="button" class="btn btn-default pull-right" value="Add Hop" data-toggle="modal" data-target="#hopsModal" />
        <!-- /ko -->
    </h3>
</div>
<div class="panel-body">
    <table class="table">
        <thead>
            <tr>
                <th>oz</th>
                <th>variety</th>
                <th>type</th>
                <th>usage</th>
                <th>time</th>
                <th>AA</th>
                <th>IBU</th>
            </tr>
        </thead>
        <tbody *ngFor="let hop of hops">

            <tr input *ngIf="isEditable">
                <td class="col-xs-1"><input type="text" class="form-control" [value]="hop.Oz" /></td>
                <td class="col-xs-3">{{hop.Title}}</td>
                <td class="col-xs-2">
                    <select class="form-control">
                        <option value="Pellet">Pellet</option>
                        <option value="Cones">Cones</option>
                    </select>
                </td>
                <td class="col-xs-2">
                    <select class="form-control">
                        <option value="Boil">Bittering</option>
                        <option value="Bittering">Smell</option>
                        <option value="Mash">Flavor</option>
                    </select>
                </td>
                <td class="col-xs-1"><input type="text" class="form-control" [value]="hop.TimeMin" /></td>
                <td class="col-xs-1"><input type="text" class="form-control" [value]="hop.AlphaAcid" /></td>
                <td class="col-xs-1"><input type="text" class="form-control" [value]="hop.IBU" /></td>
                <td class="col-xs-1"><input type="button" class="btn btn-default pull-right" value="X" (click)="removeHop(hop.Id)" /></td>
            </tr>
            <tr input *ngIf="!isEditable">
                <td class="col-xs-1">{{hop.Oz}}</td>
                <td class="col-xs-3">{{hop.Title}}</td>
                <td class="col-xs-2">{{hop.Type}}</td>
                <td class="col-xs-2">{{hop.Usage}}</td>
                <td class="col-xs-1">{{hop.TimeMin}}</td>
                <td class="col-xs-1">{{hop.AlphaAcid}}</td>
                <td class="col-xs-1">{{hop.IBU}}</td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>